@media screen and (max-width: 1397px){
    .imagem{
        display: none;
    }
    .container{
        width: 50%;
        
    }
    .form{
        width: 100%;
        border-radius: 20px;
    }
}
@media screen and (max-width: 1024px){
    .container{
        width: 50%;
        height: auto;
    }
    .input-grup{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .gender-inputs{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 425px){
    .container{
        width: 90%;
        height: auto;
    }
    .input-grup{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .gender-inputs{
        margin-top: 2rem;
    }
    
}
@media screen and (max-width: 375px){
    .container{
        width: 90%;
        height: auto;
    }
    .input-grup{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 1rem;
    }
    .gender-inputs{
        margin-top: 2rem;
        
    }
    .gender-group{
        flex-direction: column;
    }
    .form-header h1{
        font-size: 1.5rem;
    }
    .form-header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-button{
        margin-left: 1rem;
    }
    .form{
        box-sizing: border-box;
        
    }
}